.navbar {
    background-color: brown;
    color: cornsilk;
    font-size: 7vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    padding: 1%;
}
img {
    position: relative;
    height: 100%;
    width: 100%;
}
audio{
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%) drop-shadow(25%);
    position: relative;
}
.card{
    position: relative;
    display: inline-block;
    height: 30%;
    width: 15%;
    background-color: cornsilk;
    box-shadow: 5px 5px 7px brown;
    border-radius: 7px;
    justify-content: center;
    margin: 2%;
    padding: 0%;
}
.card_info{
    color: crimson;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.footer{
    background-color: brown;
    color: cornsilk;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 2%;
}